@import "../../../assets/main.scss";

.todosSide{
   button{
       padding: 8px 60px;
   }
    
}

.Search{
    margin: 10px;
    display: flex;
    
    h5,p{
        background-color: #E9F0F8;
        padding: 6px 0px;
    }
    p{
        padding-bottom: 10px;
    }

    span{
        i{
            
            
        }
    }

}
