@import "../../../assets/main.scss";


.flexItem{
  display: flex;
  padding: 10px 0px;
}

.textItem{
    padding: 5px 15px;
    text-align: left;
    p{
        padding-top: 5px;
        font-size: 12px;
        word-wrap: break-word;
        max-width: 200px;
    }

    .titleTwo{
        padding-left: 15px;
    }
}


.circle{
    padding: 1px;
    img{
        border-radius: 50% !important;
    }
}

.blueTitle{
    color: $blue;
}